@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --color-primaria: #030303;
  --color-secundaria: #e8eee8;
  --color-terciaria: #7241ee;
  --color-hover: #b690a3;
  --color-fondo: #0fafa2;
  --fuente-krona: "Krona One", sans-serif;
  --fuente-montserrat: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-montserrat);
  color: var(--color-primaria);
  background-color: var(--color-fondo);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.header {
  background-color: var(--color-primaria);
  padding: 20px;
  text-align: center;
}

.header__menu {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.header__menu__link {
  text-decoration: none;
  color: var(--color-secundaria);
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.header__menu__link:hover {
  background-color: var(--color-hover);
  color: var(--color-primaria);
  padding: 5px 10px;
  border-radius: 5px;
}

.presentacion {
  padding: 5% 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-fondo);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.presentacion__contenido {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.presentacion__contenido__titulo {
  font-size: 2.5rem;
  font-family: var(--fuente-krona);
  color: var(--color-primaria);
}

.titulo-destaque {
  color: var(--color-terciaria);
}

.presentacion__contenido__texto {
  font-size: 1.2rem;
  color: var(--color-primaria);
  background-color: var(--color-secundaria);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.presentacion__enlaces {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.presentacion__enlaces__subtitulo {
  font-family: var(--fuente-krona);
  font-weight: 400;
  font-size: 1.5rem;
}

.presentacion__enlaces__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 2px solid var(--color-terciaria);
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px 0;
  text-decoration: none;
  color: var(--color-primaria);
  background-color: var(--color-secundaria);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.presentacion__enlaces__link img {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}

.presentacion__enlaces__link:hover {
  background-color: var(--color-hover);
  color: var(--color-secundaria);
}

.presentacion__imagen {
  width: 20%;
  max-width: 400px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.presentacion__imagen:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
}

.imag_proyecto {
  width: 100%; /* La imagen ocupará el 100% del contenedor */
  max-width: 300px; /* Limita el ancho máximo de la imagen */
  aspect-ratio: 20 / 17; /* Mantiene una proporción consistente */
  border-radius: 20px; /* Bordes redondeados */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un diseño más atractivo */
  object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
  transition: transform 0.3s ease, filter 0.3s ease; /* Efecto de transición */
}

.imag_proyecto:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
  filter: brightness(
    0.9
  ); /* Oscurece ligeramente la imagen al pasar el cursor */
}

.footer {
  background-color: var(--color-primaria);
  color: var(--color-secundaria);
  text-align: center;
  padding: 20px;
  font-family: var(--fuente-krona);
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  width: 100%;
  bottom: 0;
}

@media (max-width: 1200px) {
  .header {
    padding: 10%;
  }
  .header__menu {
    flex-direction: column;
    gap: 20px;
  }
  .presentacion {
    flex-direction: column-reverse;
    padding: 5%;
  }
  .presentacion__contenido {
    width: 100%;
  }
  .presentacion__imagen {
    width: 100%;
    max-width: 600px;
  }
  .imag_proyecto {
    max-width: 100%; /* Asegura que las imágenes se ajusten al ancho del contenedor */
  }
}
